* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1em;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.header-left-btns {
  display: flex;
  gap: 0.5em;
}

.header-left-btns button {
  padding: 0.5em;
}

.header-right button {
  padding: 0.5em 1em;
  background-color: rgb(29, 159, 228);
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1.25em;
}

.calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  background-color: lightgray;
  margin: 1em;
  height: calc(100svh - 160px);
  padding: 1em;
}

.manage-btn-container {
  /* border: 1px solid red; */
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.manage-btn-container button {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 50%;
}

.btn-verify {
  border: 1px solid green;
  color: green;
  /* background-color: lightgreen; */
}

.btn-remove {
  border: 1px solid red;
  color: red;
  /* background-color: lightgreen; */
}

.add-or-change-delivery {
  border: 1px solid darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 450px;
  background-color: lightgray;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 1;
}

.add-or-change-delivery-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}

.add-or-change-delivery-form input {
  border: 1px solid black;
  margin-left: 1em;
  padding: 0.5em;
}

.form-btns button {
  margin-right: 0.5em;
  padding: 0.5em;
}

.form-error {
  color: red;
}

.single-manage-menu {
  border: 1px solid darkgray;
  height: 150px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  gap: 1em;
  z-index: 1;
}

.single-manage-btn-container {
  display: flex;
  gap: 0.5em;
}

.single-manage-btn-container button {
  padding: 0.5em;
}
